spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/library_db
    username: library_user
    password: library_password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

logging:
  level:
    com.library: INFO