spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/library_db_dev
    username: library_user
    password: library_password
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

logging:
  level:
    com.library: DEBUG